## Linear Regression Model Template

## importing libraries for this particular model
## Import libraries

In [32]:

import pandas as pd
import seaborn as sns
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

## Load dataset (importing dataset and looking at the lenght and breadth of the dataset)

In [3]:

df = pd.read_csv("C:\\Users\\HP\\Desktop\\etl\\railway.csv")
df.head()
df.shape

(31653, 18)

## checking out the characteristics of the data set

In [5]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

## looking for columns with null values

In [6]:

df.isnull().sum()

Transaction ID             0
Date of Purchase           0
Time of Purchase           0
Purchase Type              0
Payment Method             0
Railcard               20918
Ticket Class               0
Ticket Type                0
Price                      0
Departure Station          0
Arrival Destination        0
Date of Journey            0
Departure Time             0
Arrival Time               0
Actual Arrival Time     1880
Journey Status             0
Reason for Delay       27481
Refund Request             0
dtype: int64

## Remove Duplicates

In [7]:

df.drop_duplicates('Transaction ID')

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,12/8/2023,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,1/1/2024,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,12/16/2023,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,1/1/2024,9:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,12/19/2023,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,1/2/2024,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,12/20/2023,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,1/1/2024,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,12/27/2023,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,1/1/2024,16:45:00,19:00:00,19:00:00,On Time,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,4/30/2024,18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,4/30/2024,20:00:00,20:30:00,20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,4/30/2024,18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,4/30/2024,20:15:00,21:35:00,21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,4/30/2024,18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,4/30/2024,20:15:00,20:45:00,20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,4/30/2024,19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,4/30/2024,21:15:00,22:35:00,22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,4/30/2024,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,4/30/2024,21:30:00,22:00:00,22:00:00,On Time,NaN,No

## analyzing the the dataset columns

In [8]:

df.describe().T

         count     mean        std  min  25%   50%   75%    max
Price  31653.0  23.4392  29.997628  1.0  5.0  11.0  35.0  267.0

## looking for spaces in the columns name

In [9]:

df.columns

Index(['Transaction ID', 'Date of Purchase', 'Time of Purchase',
       'Purchase Type', 'Payment Method', 'Railcard', 'Ticket Class',
       'Ticket Type', 'Price', 'Departure Station', 'Arrival Destination',
       'Date of Journey', 'Departure Time', 'Arrival Time',
       'Actual Arrival Time', 'Journey Status', 'Reason for Delay',
       'Refund Request'],
      dtype='object')

## replacing underscores for spaces in the column name

In [10]:

df.columns = ['Transaction_ID', 'Date_of_Purchase', 'Time_of_Purchase',
       'Purchase_Type', 'Payment_Method', 'Railcard', 'Ticket_Class',
       'Ticket_Type', 'Price', 'Departure_Station', 'Arrival_Destination',
       'Date_of_Journey', 'Departure_Time', 'Arrival_Time',
       'Actual_Arrival_Time', 'Journey_Status', 'Reason_for_Delay',
       'Refund_Request']
df.columns

Index(['Transaction_ID', 'Date_of_Purchase', 'Time_of_Purchase',
       'Purchase_Type', 'Payment_Method', 'Railcard', 'Ticket_Class',
       'Ticket_Type', 'Price', 'Departure_Station', 'Arrival_Destination',
       'Date_of_Journey', 'Departure_Time', 'Arrival_Time',
       'Actual_Arrival_Time', 'Journey_Status', 'Reason_for_Delay',
       'Refund_Request'],
      dtype='object')

## checking the first five rows and the name of the column

In [11]:

df.head(5)

,Transaction_ID,Date_of_Purchase,Time_of_Purchase,Purchase_Type,Payment_Method,Railcard,Ticket_Class,Ticket_Type,Price,Departure_Station,Arrival_Destination,Date_of_Journey,Departure_Time,Arrival_Time,Actual_Arrival_Time,Journey_Status,Reason_for_Delay,Refund_Request
0,da8a6ba8-b3dc-4677-b176,12/8/2023,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,1/1/2024,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,12/16/2023,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,1/1/2024,9:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,12/19/2023,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,1/2/2024,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,12/20/2023,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,1/1/2024,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,12/27/2023,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,1/1/2024,16:45:00,19:00:00,19:00:00,On Time,NaN,No

# **Data preparation** 
### is a crucial step in machine learning and data modeling because raw data is often messy,
### inconsistent, and incomplete. Preparing data properly ensures better model performance,
### accuracy, and generalizability. Here are the key reasons why we prepare data:  -

## creating a column 'y' variable for preparation of data modelling

In [62]:

y = df.iloc[: ,8]
#y.shape
#.info()
y.head()

0    43
1    23
2     3
3    13
4    76
Name: Price, dtype: int64

## creating a column 'X' variable for preparation of data modelling

In [64]:
X = df.iloc[ : , [3,4,6,7,9,10,15]]
X

,Purchase_Type,Payment_Method,Ticket_Class,Ticket_Type,Departure_Station,Arrival_Destination,Journey_Status
0,Online,Contactless,Standard,Advance,London Paddington,Liverpool Lime Street,On Time
1,Station,Credit Card,Standard,Advance,London Kings Cross,York,Delayed
2,Online,Credit Card,Standard,Advance,Liverpool Lime Street,Manchester Piccadilly,On Time
3,Station,Credit Card,Standard,Advance,London Paddington,Reading,On Time
4,Online,Contactless,Standard,Advance,Liverpool Lime Street,London Euston,On Time
...,...,...,...,...,...,...,...
31648,Online,Credit Card,Standard,Off-Peak,Manchester Piccadilly,Liverpool Lime Street,On Time
31649,Online,Contactless,Standard,Off-Peak,London Euston,Birmingham New Street,On Time
31650,Station,Credit Card,Standard,Off-Peak,Manchester Piccadilly,Liverpool Lime Street,On Time
31651,Station,Credit Card,Standard,Off-Peak,London Euston,Birmingham New Street,On Time
31652,Station,Credit Card,Standard,Off-Peak,Liverpool Lime Street,Manchester Piccadilly,On Time

## onehotencoder converting categorical variables into numerical format

In [66]:

X = pd.get_dummies(X , drop_first= True)
X.head(5)

,Purchase_Type_Station,Payment_Method_Credit Card,Payment_Method_Debit Card,Ticket_Class_Standard,Ticket_Type_Anytime,Ticket_Type_Off-Peak,Departure_Station_Bristol Temple Meads,Departure_Station_Edinburgh Waverley,Departure_Station_Liverpool Lime Street,Departure_Station_London Euston,...,Arrival_Destination_Sheffield,Arrival_Destination_Stafford,Arrival_Destination_Swindon,Arrival_Destination_Tamworth,Arrival_Destination_Wakefield,Arrival_Destination_Warrington,Arrival_Destination_Wolverhampton,Arrival_Destination_York,Journey_Status_Delayed,Journey_Status_On Time
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,True,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
2,False,True,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
3,True,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True

## Split dataset into training and testing sets

In [68]:

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

## standarzing the dataset

In [70]:

scaler = StandardScaler()
scaler.fit(X)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## creating the data model

In [72]:

mdl = LogisticRegression(max_iter=1000)

## fitting the dataset for training

In [74]:

mdl.fit(X_train , y_train)

LogisticRegression(max_iter=1000)

## probablity score

In [98]:

y_prob = mdl.predict_proba(X_test)
y_prob[0:10]

array([[9.14285018e-09, 4.68984417e-03, 7.49606361e-03, ...,
        1.63017574e-11, 2.57200329e-11, 1.48532396e-12],
       [3.29034790e-05, 1.57800593e-09, 2.86629443e-08, ...,
        4.38360465e-08, 1.22940535e-08, 8.78297503e-08],
       [4.02658824e-11, 4.58592620e-01, 5.36395587e-01, ...,
        1.62499389e-13, 1.68193186e-14, 1.40302392e-14],
       ...,
       [2.53578614e-05, 5.38214304e-10, 6.67060925e-10, ...,
        1.76392812e-07, 1.16570114e-07, 5.45318982e-08],
       [2.70048859e-05, 8.67953187e-10, 1.12447721e-09, ...,
        1.09077691e-07, 4.26653474e-08, 9.02459895e-08],
       [1.25861373e-07, 6.57280322e-09, 1.59562384e-06, ...,
        1.27474626e-10, 3.07694870e-02, 1.64674620e-11]])

## the predicted variables in 'y' dataset

In [78]:

y_pred = mdl.predict(X_test)
y_pred

array([72, 10,  3, ..., 12,  3, 16], dtype=int64)

## Model evaluation

In [83]:

accuracy_score(y_test, y_pred)
#0.7379949452401011

0.7379949452401011

# #Evaluation metrics

In [126]:

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f"R² Score: {r2:.4f}")
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")

R² Score: 0.9493
Mean Absolute Error: 1.83
Root Mean Squared Error: 6.63

## Model evaluation

In [166]:

report = classification_report(y_test , y_pred )
print('Classification Report:\n', report )

Classification Report:
               precision    recall  f1-score   support

     Advance       0.65      0.95      0.77      5230
     Anytime       0.78      0.34      0.48      1631
    Off-Peak       0.57      0.23      0.33      2635

    accuracy                           0.65      9496
   macro avg       0.66      0.51      0.52      9496
weighted avg       0.65      0.65      0.60      9496

# **Metrics Explained**

## **R² Score (r2_score)**
    -The R² score (coefficient of determination) measures how well the model explains the variability of the target variable (y)

## **Mean Absolute Error (MAE)**
    -MAE measures the average absolute difference between actual and predicted values. It gives an idea of how much, on average, the model's       
    predictions deviate from the actual values.

## **Root Mean Squared Error (RMSE)**
    -RMSE is the square root of the Mean Squared Error (MSE). It measures the standard deviation of prediction errors. RMSE penalizes larger errors 
    more than MAE due to squaring before averaging.

## **Precision**
    -Measures how many of the predicted positive cases were actually correct
    -High precision means fewer false positives.

## **Recall** 
    -Measures how many of the actual positive cases were correctly predicted.
    -High recall means fewer false negatives.

## **F1-score** 

    -The harmonic mean of precision and recall.
    -A good balance between precision and recall, useful when you need both metrics to be high.

## **Support**

    -The number of actual occurrences of each class in the dataset.
    -Helps understand class distribution and whether the model is biased.

## **Summary of Findings from the Linear Regression Model**

The dataset is imported (railway.csv).
Initial exploration includes checking the shape, column characteristics, and missing values.
Duplicate values are removed.
Descriptive statistics are computed.
Feature Engineering & Scaling:

## **Data Loading & Preprocessing:**
Data preprocessing steps include encoding categorical variables and standardizing numerical ones.
Model Training & Evaluation:

A Linear Regression model is implemented using sklearn.linear_model.LinearRegression.
The dataset is split into training and test sets.
Performance metrics such as Mean Absolute Error (MAE), Mean Squared Error (MSE), and R-squared (R²) are calculated.
Would you like a detailed breakdown of the model’s performance results? Let me extract those metrics for you. 


# **Mean Absolute Error**​​

    MAE measures the average absolute difference between actual and predicted values. It gives an idea of how much, on average, the model's       
    predictions deviate from the actual values.